@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";


@theme {
    --font-inter: "Inter", Arial, sans-serif;
    --font-code: "Source Code Pro", monospace;
}

/* .caret-container {
    @apply relative bg-gray-700 rounded-md
}

.caret-container::after {
    content: ' ';
    @apply w-4 absolute text-white inset-0 animate-pulse
} */

.caret-block {
    @apply relative
}

.caret-block::after {
    content: '_';
    @apply absolute bg-gray-700 inset-0 rounded-md animate-pulse
}